* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url(pic.jpg);
  background-size: cover;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 25px 100px;
  justify-content: space-between;
}

.logo {
  color: white;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
}

.DOT {
  color: yellow;
}

.links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  color: yellow;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.content h1 {
  color: white;
  font-size: 56px;
  font-weight: 900;
}

.content p {
  font-size: 16px;
  margin-top: 20px;
  color: lightgray;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.buttons a {
  padding: 12px 30px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid yellow;
  color: white;
  transition: 0.3s;
}

.lm:hover {
  background: lightgray;
}

.dw {
  background: gold;
  color: black;
}

.dw:hover {
  background: yellow;
}
